USE [master]
GO
/****** Object:  Database [drive_license]    Script Date: 01/09/2026 22:44:06 ******/
CREATE DATABASE [drive_license]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'drive_license', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\drive_license.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'drive_license_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\drive_license_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [drive_license].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [drive_license]
GO
/****** Object:  Table [dbo].[reservation_list]    Script Date: 01/09/2026 22:44:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reservation_list](
	[reservation_ID] [int] IDENTITY(1,1) NOT NULL,
	[tax] [decimal](5, 2) NOT NULL,
	[reason_for_reseration] [nvarchar](max) NULL,
	[userID] [int] NOT NULL,
	[drive_license_ID] [int] NULL,
	[reservation_date] [date] NOT NULL,
 CONSTRAINT [PK__reservat__314553C1ACA5E630] PRIMARY KEY CLUSTERED 
(
	[reservation_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[peoples]    Script Date: 01/09/2026 22:44:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[peoples](
	[people_ID] [int] IDENTITY(1,1) NOT NULL,
	[nationality_ID] [int] NOT NULL,
	[first_name] [nvarchar](20) NOT NULL,
	[second_name] [nvarchar](20) NULL,
	[third_name] [nvarchar](20) NULL,
	[last_name] [nvarchar](20) NOT NULL,
	[date_of_birth] [date] NOT NULL,
	[email] [varchar](25) NOT NULL,
	[phone_number] [varchar](14) NOT NULL,
	[_address] [nvarchar](100) NULL,
	[personal_photo] [nvarchar](max) NOT NULL,
	[national_id] [nvarchar](20) NOT NULL,
	[Gender] [char](1) NOT NULL,
 CONSTRAINT [PK__peoples__9244BC4758FDAA23] PRIMARY KEY CLUSTERED 
(
	[people_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[drivers]    Script Date: 01/09/2026 22:44:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[drivers](
	[driver_ID] [int] IDENTITY(1,1) NOT NULL,
	[people_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[driver_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categorys]    Script Date: 01/09/2026 22:44:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categorys](
	[category_ID] [int] IDENTITY(1,1) NOT NULL,
	[category_name] [nvarchar](max) NOT NULL,
	[price] [decimal](5, 2) NOT NULL,
	[required_age] [int] NOT NULL,
	[service_ID] [int] NOT NULL,
	[_description] [nvarchar](max) NULL,
	[Validity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[category_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[drive_licenses]    Script Date: 01/09/2026 22:44:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[drive_licenses](
	[drive_license_ID] [int] IDENTITY(1,1) NOT NULL,
	[driver_ID] [int] NOT NULL,
	[category_ID] [int] NOT NULL,
	[comments] [nvarchar](max) NULL,
	[relese_date] [date] NOT NULL,
	[end_date] [date] NOT NULL,
	[is_active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[drive_license_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[reservation_information]    Script Date: 01/09/2026 22:44:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

					create view [dbo].[reservation_information] as
SELECT        reservation_list.reservation_ID, reservation_list.tax,reservation_list.reservation_date, reservation_list.reason_for_reseration, reservation_list.userID, drive_licenses.drive_license_ID, categorys.category_name, peoples.people_ID, 
                          peoples.first_name, peoples.last_name, peoples.personal_photo
FROM            reservation_list INNER JOIN
                         drive_licenses ON reservation_list.drive_license_ID = drive_licenses.drive_license_ID INNER JOIN
                         drivers ON drive_licenses.driver_ID = drivers.driver_ID INNER JOIN
                         peoples ON drivers.people_ID = peoples.people_ID INNER JOIN
                         categorys ON drive_licenses.category_ID = categorys.category_ID
GO
/****** Object:  View [dbo].[local_license_info]    Script Date: 01/09/2026 22:44:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  create view [dbo].[local_license_info] as 

   SELECT        drive_licenses.drive_license_ID, drive_licenses.comments, drive_licenses.relese_date, drive_licenses.end_date, drive_licenses.is_active, categorys.category_name, drivers.driver_ID, peoples.people_ID,peoples.national_id, peoples.first_name, 
                         peoples.last_name, peoples.personal_photo
FROM            drive_licenses INNER JOIN
                         drivers ON drive_licenses.driver_ID = drivers.driver_ID INNER JOIN
                         categorys ON drive_licenses.category_ID = categorys.category_ID INNER JOIN
                         peoples ON drivers.people_ID = peoples.people_ID
GO
/****** Object:  Table [dbo].[international_driving_license]    Script Date: 01/09/2026 22:44:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[international_driving_license](
	[license_ID] [int] IDENTITY(1,1) NOT NULL,
	[relese_date] [date] NOT NULL,
	[end_date] [date] NOT NULL,
	[drive_license_ID] [int] NOT NULL,
	[is_active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[license_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[license_info]    Script Date: 01/09/2026 22:44:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

				create view [dbo].[license_info] as 
SELECT        international_driving_license.license_ID, international_driving_license.relese_date, international_driving_license.end_date, international_driving_license.is_active, drive_licenses.drive_license_ID, categorys.category_name, 
                         peoples.people_ID,peoples.national_id, peoples.first_name, peoples.last_name, peoples.personal_photo
FROM            international_driving_license INNER JOIN
                         drive_licenses ON international_driving_license.drive_license_ID = drive_licenses.drive_license_ID INNER JOIN
                         drivers ON drive_licenses.driver_ID = drivers.driver_ID INNER JOIN
                         categorys ON drive_licenses.category_ID = categorys.category_ID INNER JOIN
                         peoples ON drivers.people_ID = peoples.people_ID
GO
/****** Object:  Table [dbo].[country_list]    Script Date: 01/09/2026 22:44:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[country_list](
	[country_ID] [int] IDENTITY(1,1) NOT NULL,
	[country_name] [nvarchar](70) NOT NULL,
 CONSTRAINT [PK__country___7E95F5EDD8798A5B] PRIMARY KEY CLUSTERED 
(
	[country_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 01/09/2026 22:44:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[userID] [int] IDENTITY(1,1) NOT NULL,
	[userName] [nvarchar](30) NOT NULL,
	[people_ID] [int] NOT NULL,
	[userPassword] [nvarchar](100) NOT NULL,
	[is_Admin] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[User_Info]    Script Date: 01/09/2026 22:44:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[User_Info] as

SELECT peoples.national_ID, peoples.first_name, peoples.second_name, peoples.third_name, peoples.last_name, peoples.date_of_birth, peoples.email, peoples.phone_number, peoples._address, peoples.personal_photo, 
                  country_list.country_name, users.userName 
FROM     users INNER JOIN
                  peoples ON users.people_ID = peoples.people_ID INNER JOIN
                  country_list ON peoples.nationality_ID = country_list.country_ID
GO
/****** Object:  View [dbo].[People_Information]    Script Date: 01/09/2026 22:44:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [dbo].[People_Information]  as
SELECT peoples.people_ID, peoples.first_name, peoples.second_name, peoples.third_name, peoples.last_name, peoples.date_of_birth, peoples.email, peoples.phone_number, country_list.country_name, peoples._address, 
                  peoples.personal_photo, peoples.national_id, peoples.Gender
FROM     peoples INNER JOIN
                  country_list ON peoples.nationality_ID = country_list.country_ID
GO
/****** Object:  View [dbo].[driver_info]    Script Date: 01/09/2026 22:44:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create view [dbo].[driver_info] as
SELECT drivers.driver_ID, peoples.people_ID, peoples.first_name, peoples.second_name, peoples.third_name, peoples.last_name, peoples.personal_photo
FROM     peoples INNER JOIN
                  drivers ON peoples.people_ID = drivers.people_ID
GO
/****** Object:  Table [dbo].[_services]    Script Date: 01/09/2026 22:44:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_services](
	[service_ID] [int] IDENTITY(1,1) NOT NULL,
	[_service_name] [nvarchar](max) NOT NULL,
	[_service_price] [decimal](5, 2) NOT NULL,
 CONSTRAINT [PK___service__3E0A84F7FAB11D4F] PRIMARY KEY CLUSTERED 
(
	[service_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 01/09/2026 22:44:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[order_ID] [int] IDENTITY(1,1) NOT NULL,
	[order_date] [date] NOT NULL,
	[application_fee_paid] [decimal](5, 2) NOT NULL,
	[people_ID] [int] NOT NULL,
	[service_ID] [int] NOT NULL,
	[order_status_ID] [int] NOT NULL,
 CONSTRAINT [PK__orders__464665E1F63A3A42] PRIMARY KEY CLUSTERED 
(
	[order_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders_status]    Script Date: 01/09/2026 22:44:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders_status](
	[status_ID] [int] IDENTITY(1,1) NOT NULL,
	[_status] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[status_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[order_info]    Script Date: 01/09/2026 22:44:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [dbo].[order_info] as 

SELECT orders.order_ID, orders.order_date, orders.application_fee_paid, _services._service_name, orders_status._status, peoples.national_ID, peoples.people_ID, peoples.first_name, peoples.last_name, peoples.personal_photo, 
                  peoples.phone_number, peoples.second_name, peoples.third_name
FROM     orders INNER JOIN
                  peoples ON orders.people_ID = peoples.people_ID INNER JOIN
                  orders_status ON orders.order_status_ID = orders_status.status_ID INNER JOIN
                  _services ON orders.service_ID = _services.service_ID
GO
/****** Object:  Table [dbo].[orders_information]    Script Date: 01/09/2026 22:44:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders_information](
	[order_information_ID] [int] IDENTITY(1,1) NOT NULL,
	[people_ID] [int] NOT NULL,
	[order_ID] [int] NOT NULL,
	[service_ID] [int] NOT NULL,
	[category_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[order_information_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[OrderInformationExist]    Script Date: 01/09/2026 22:44:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	  create view [dbo].[OrderInformationExist] as 
SELECT orders_information.people_ID, orders_information.order_ID, orders_information.service_ID, orders_information.category_ID, orders.order_status_ID
FROM     orders_information INNER JOIN
                  orders ON orders_information.order_ID = orders.order_ID

				  
GO
/****** Object:  Table [dbo].[appointments]    Script Date: 01/09/2026 22:44:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[appointments](
	[appointment_ID] [int] IDENTITY(1,1) NOT NULL,
	[appointment_date] [date] NOT NULL,
	[result_ID] [int] NOT NULL,
	[note] [nvarchar](100) NULL,
	[test_ID] [int] NOT NULL,
	[order_information_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[appointment_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[results]    Script Date: 01/09/2026 22:44:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[results](
	[result_ID] [int] IDENTITY(1,1) NOT NULL,
	[result] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[result_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[testes]    Script Date: 01/09/2026 22:44:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[testes](
	[test_ID] [int] IDENTITY(1,1) NOT NULL,
	[test_name] [nvarchar](50) NOT NULL,
	[test_price] [decimal](18, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[test_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[_services] ON 

INSERT [dbo].[_services] ([service_ID], [_service_name], [_service_price]) VALUES (1, N'drivers licence issuance service', CAST(5.00 AS Decimal(5, 2)))
INSERT [dbo].[_services] ([service_ID], [_service_name], [_service_price]) VALUES (2, N're-examination service', CAST(5.00 AS Decimal(5, 2)))
INSERT [dbo].[_services] ([service_ID], [_service_name], [_service_price]) VALUES (3, N'drivers license renewal service', CAST(5.00 AS Decimal(5, 2)))
SET IDENTITY_INSERT [dbo].[_services] OFF
GO
SET IDENTITY_INSERT [dbo].[appointments] ON 

INSERT [dbo].[appointments] ([appointment_ID], [appointment_date], [result_ID], [note], [test_ID], [order_information_ID]) VALUES (1, CAST(N'2026-08-22' AS Date), 2, N'', 3, 10)
INSERT [dbo].[appointments] ([appointment_ID], [appointment_date], [result_ID], [note], [test_ID], [order_information_ID]) VALUES (2, CAST(N'2006-04-19' AS Date), 3, NULL, 1, 13)
INSERT [dbo].[appointments] ([appointment_ID], [appointment_date], [result_ID], [note], [test_ID], [order_information_ID]) VALUES (3, CAST(N'2006-04-19' AS Date), 3, N'', 2, 14)
SET IDENTITY_INSERT [dbo].[appointments] OFF
GO
SET IDENTITY_INSERT [dbo].[categorys] ON 

INSERT [dbo].[categorys] ([category_ID], [category_name], [price], [required_age], [service_ID], [_description], [Validity]) VALUES (1, N'small motorcycles license', CAST(15.00 AS Decimal(5, 2)), 18, 1, N'Allows the driver to operate small motorcycles.
Suitable for motorcycles with small engine displacement and limited power', 5)
INSERT [dbo].[categorys] ([category_ID], [category_name], [price], [required_age], [service_ID], [_description], [Validity]) VALUES (2, N'large motorcycles', CAST(30.00 AS Decimal(5, 2)), 21, 1, N'Allows the driver to operate large and powerful motorcycles', 5)
INSERT [dbo].[categorys] ([category_ID], [category_name], [price], [required_age], [service_ID], [_description], [Validity]) VALUES (3, N'car license', CAST(20.00 AS Decimal(5, 2)), 21, 1, N'Allows the driver to operate light vehicles and personal cars', 10)
SET IDENTITY_INSERT [dbo].[categorys] OFF
GO
SET IDENTITY_INSERT [dbo].[country_list] ON 

INSERT [dbo].[country_list] ([country_ID], [country_name]) VALUES (1, N'Afghanistan')
INSERT [dbo].[country_list] ([country_ID], [country_name]) VALUES (2, N'Albania')
INSERT [dbo].[country_list] ([country_ID], [country_name]) VALUES (3, N'Algeria')
GO
SET IDENTITY_INSERT [dbo].[country_list] OFF
GO
SET IDENTITY_INSERT [dbo].[drive_licenses] ON 

INSERT [dbo].[drive_licenses] ([drive_license_ID], [driver_ID], [category_ID], [comments], [relese_date], [end_date], [is_active]) VALUES (12, 6, 4, NULL, CAST(N'2016-07-12' AS Date), CAST(N'2026-07-12' AS Date), 0)
INSERT [dbo].[drive_licenses] ([drive_license_ID], [driver_ID], [category_ID], [comments], [relese_date], [end_date], [is_active]) VALUES (17, 1, 7, N'test', CAST(N'2016-07-12' AS Date), CAST(N'2026-07-12' AS Date), 0)
INSERT [dbo].[drive_licenses] ([drive_license_ID], [driver_ID], [category_ID], [comments], [relese_date], [end_date], [is_active]) VALUES (20, 1, 6, N'test   This license is Replacement for Lost one, The old id = 16    This license is Replacement for Lost one, The old id = 19 ', CAST(N'2016-05-10' AS Date), CAST(N'2026-05-10' AS Date), 0)
SET IDENTITY_INSERT [dbo].[drive_licenses] OFF
GO
SET IDENTITY_INSERT [dbo].[drivers] ON 

INSERT [dbo].[drivers] ([driver_ID], [people_ID]) VALUES (1, 1)
INSERT [dbo].[drivers] ([driver_ID], [people_ID]) VALUES (3, 2)
INSERT [dbo].[drivers] ([driver_ID], [people_ID]) VALUES (5, 3)
SET IDENTITY_INSERT [dbo].[drivers] OFF
GO
SET IDENTITY_INSERT [dbo].[international_driving_license] ON 

INSERT [dbo].[international_driving_license] ([license_ID], [relese_date], [end_date], [drive_license_ID], [is_active]) VALUES (3, CAST(N'2026-08-22' AS Date), CAST(N'2036-08-22' AS Date), 40, 1)
INSERT [dbo].[international_driving_license] ([license_ID], [relese_date], [end_date], [drive_license_ID], [is_active]) VALUES (4, CAST(N'2026-08-22' AS Date), CAST(N'2036-08-22' AS Date), 41, 1)
INSERT [dbo].[international_driving_license] ([license_ID], [relese_date], [end_date], [drive_license_ID], [is_active]) VALUES (5, CAST(N'2026-08-22' AS Date), CAST(N'2036-08-22' AS Date), 43, 1)
SET IDENTITY_INSERT [dbo].[international_driving_license] OFF
GO
SET IDENTITY_INSERT [dbo].[orders] ON 

INSERT [dbo].[orders] ([order_ID], [order_date], [application_fee_paid], [people_ID], [service_ID], [order_status_ID]) VALUES (1, CAST(N'2026-05-23' AS Date), CAST(100.00 AS Decimal(5, 2)), 2, 2, 2)
INSERT [dbo].[orders] ([order_ID], [order_date], [application_fee_paid], [people_ID], [service_ID], [order_status_ID]) VALUES (7, CAST(N'2026-07-14' AS Date), CAST(20.00 AS Decimal(5, 2)), 1, 1, 1)
INSERT [dbo].[orders] ([order_ID], [order_date], [application_fee_paid], [people_ID], [service_ID], [order_status_ID]) VALUES (8, CAST(N'2026-07-14' AS Date), CAST(20.00 AS Decimal(5, 2)), 1, 2, 3)
GO
SET IDENTITY_INSERT [dbo].[orders] OFF
GO
SET IDENTITY_INSERT [dbo].[orders_information] ON 

INSERT [dbo].[orders_information] ([order_information_ID], [people_ID], [order_ID], [service_ID], [category_ID]) VALUES (10, 1, 42, 1, 1)
INSERT [dbo].[orders_information] ([order_information_ID], [people_ID], [order_ID], [service_ID], [category_ID]) VALUES (13, 19, 84, 1, 5)
INSERT [dbo].[orders_information] ([order_information_ID], [people_ID], [order_ID], [service_ID], [category_ID]) VALUES (14, 25, 85, 1, 1)
SET IDENTITY_INSERT [dbo].[orders_information] OFF
GO
SET IDENTITY_INSERT [dbo].[orders_status] ON 

INSERT [dbo].[orders_status] ([status_ID], [_status]) VALUES (1, N'new')
INSERT [dbo].[orders_status] ([status_ID], [_status]) VALUES (2, N'cancelled')
INSERT [dbo].[orders_status] ([status_ID], [_status]) VALUES (3, N'completed')
SET IDENTITY_INSERT [dbo].[orders_status] OFF
GO
SET IDENTITY_INSERT [dbo].[peoples] ON 

INSERT [dbo].[peoples] ([people_ID], [nationality_ID], [first_name], [second_name], [third_name], [last_name], [date_of_birth], [email], [phone_number], [_address], [personal_photo], [national_id], [Gender]) VALUES (1, 54, N'abdelhak', NULL, N'ali', N'mohammad', CAST(N'2005-10-01' AS Date), N'hakoh@gmail.com', N'213781306873', N'touggourt', N'C:\Users\4\Pictures\drive_people\photo edit\8.png', N'N0001', N'M')
INSERT [dbo].[peoples] ([people_ID], [nationality_ID], [first_name], [second_name], [third_name], [last_name], [date_of_birth], [email], [phone_number], [_address], [personal_photo], [national_id], [Gender]) VALUES (2, 40, N'Ali', N'Mohamed', N'Hassan', N'Samer', CAST(N'2000-01-01' AS Date), N'Alisamer@gmail.com', N'01111111111', N'timassone', N'C:\Users\4\Pictures\drive_people\photo edit\9.png', N'N2', N'M')
INSERT [dbo].[peoples] ([people_ID], [nationality_ID], [first_name], [second_name], [third_name], [last_name], [date_of_birth], [email], [phone_number], [_address], [personal_photo], [national_id], [Gender]) VALUES (3, 48, N'ahmed', NULL, NULL, N'Mohamed', CAST(N'2005-10-02' AS Date), N'ahmedmohammed@gmail.com', N'1254523221', N'ourgla', N'C:\Users\4\Pictures\drive_people\photo edit\7.png', N'N3', N'M')
SET IDENTITY_INSERT [dbo].[peoples] OFF
GO
SET IDENTITY_INSERT [dbo].[reservation_list] ON 

INSERT [dbo].[reservation_list] ([reservation_ID], [tax], [reason_for_reseration], [userID], [drive_license_ID], [reservation_date]) VALUES (29, CAST(785.00 AS Decimal(5, 2)), N'test', 1, 12, CAST(N'2026-08-10' AS Date))
INSERT [dbo].[reservation_list] ([reservation_ID], [tax], [reason_for_reseration], [userID], [drive_license_ID], [reservation_date]) VALUES (30, CAST(120.00 AS Decimal(5, 2)), N'test reason ', 1, 41, CAST(N'2026-08-23' AS Date))
SET IDENTITY_INSERT [dbo].[reservation_list] OFF
GO
SET IDENTITY_INSERT [dbo].[results] ON 

INSERT [dbo].[results] ([result_ID], [result]) VALUES (1, N'fail')
INSERT [dbo].[results] ([result_ID], [result]) VALUES (2, N'pass')
INSERT [dbo].[results] ([result_ID], [result]) VALUES (3, N'pending')
SET IDENTITY_INSERT [dbo].[results] OFF
GO
SET IDENTITY_INSERT [dbo].[testes] ON 

INSERT [dbo].[testes] ([test_ID], [test_name], [test_price]) VALUES (1, N'Vision Test', CAST(10 AS Decimal(18, 0)))
INSERT [dbo].[testes] ([test_ID], [test_name], [test_price]) VALUES (2, N'Theory Test', CAST(20 AS Decimal(18, 0)))
INSERT [dbo].[testes] ([test_ID], [test_name], [test_price]) VALUES (3, N'Practical Test', CAST(30 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[testes] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([userID], [userName], [people_ID], [userPassword], [is_Admin]) VALUES (1, N'hako_me', 1, N'BCfmX5ZUj1pP8aCXPctK/Q==:bskujAwWxLu3Rbwolb7WeJJGmvYH3a0g7KtObNRbom0=', 0)
INSERT [dbo].[users] ([userID], [userName], [people_ID], [userPassword], [is_Admin]) VALUES (2, N'jemilanester_ser', 5, N'7geKV22PsNCxAkL6kDvbcw==:d5FqRUwt6Eoc/N86Hrv1xf6lNrTLfhbindZEYRwWKpg=', 0)
INSERT [dbo].[users] ([userID], [userName], [people_ID], [userPassword], [is_Admin]) VALUES (4, N'Anna_Gr', 19, N'3arjzONP/oD4Z/B6KWx3AA==:oglwno4btpXMV8SMPpfGZ+S5VsfrOQijQro3XnOKB6w=', 0)
SET IDENTITY_INSERT [dbo].[users] OFF
GO
/****** Object:  Index [uq]    Script Date: 01/09/2026 22:44:07 ******/
ALTER TABLE [dbo].[drivers] ADD  CONSTRAINT [uq] UNIQUE NONCLUSTERED 
(
	[people_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [uq_ID]    Script Date: 01/09/2026 22:44:07 ******/
ALTER TABLE [dbo].[drivers] ADD  CONSTRAINT [uq_ID] UNIQUE NONCLUSTERED 
(
	[people_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__peoples__AB6E6164C2CDAE31]    Script Date: 01/09/2026 22:44:07 ******/
ALTER TABLE [dbo].[peoples] ADD  CONSTRAINT [UQ__peoples__AB6E6164C2CDAE31] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__peoples__E1C63C3552171629]    Script Date: 01/09/2026 22:44:07 ******/
ALTER TABLE [dbo].[peoples] ADD  CONSTRAINT [UQ__peoples__E1C63C3552171629] UNIQUE NONCLUSTERED 
(
	[phone_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ux_local_license]    Script Date: 01/09/2026 22:44:07 ******/
CREATE UNIQUE NONCLUSTERED INDEX [ux_local_license] ON [dbo].[reservation_list]
(
	[drive_license_ID] ASC
)
WHERE ([drive_license_ID] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [uq_userName]    Script Date: 01/09/2026 22:44:07 ******/
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [uq_userName] UNIQUE NONCLUSTERED 
(
	[userName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[categorys] ADD  DEFAULT ((10)) FOR [Validity]
GO
ALTER TABLE [dbo].[drive_licenses] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[international_driving_license] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[peoples] ADD  DEFAULT ('M') FOR [Gender]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((0)) FOR [is_Admin]
GO
ALTER TABLE [dbo].[appointments]  WITH CHECK ADD FOREIGN KEY([order_information_ID])
REFERENCES [dbo].[orders_information] ([order_information_ID])
GO
ALTER TABLE [dbo].[appointments]  WITH CHECK ADD FOREIGN KEY([result_ID])
REFERENCES [dbo].[results] ([result_ID])
GO
ALTER TABLE [dbo].[appointments]  WITH CHECK ADD FOREIGN KEY([test_ID])
REFERENCES [dbo].[testes] ([test_ID])
GO
ALTER TABLE [dbo].[categorys]  WITH CHECK ADD  CONSTRAINT [FK__categorys__servi__59063A47] FOREIGN KEY([service_ID])
REFERENCES [dbo].[_services] ([service_ID])
GO
ALTER TABLE [dbo].[categorys] CHECK CONSTRAINT [FK__categorys__servi__59063A47]
GO
ALTER TABLE [dbo].[drive_licenses]  WITH NOCHECK ADD FOREIGN KEY([category_ID])
REFERENCES [dbo].[categorys] ([category_ID])
GO
ALTER TABLE [dbo].[drive_licenses]  WITH NOCHECK ADD FOREIGN KEY([driver_ID])
REFERENCES [dbo].[drivers] ([driver_ID])
GO
ALTER TABLE [dbo].[drivers]  WITH CHECK ADD  CONSTRAINT [FK__drivers__people___5441852A] FOREIGN KEY([people_ID])
REFERENCES [dbo].[peoples] ([people_ID])
GO
ALTER TABLE [dbo].[drivers] CHECK CONSTRAINT [FK__drivers__people___5441852A]
GO
ALTER TABLE [dbo].[international_driving_license]  WITH CHECK ADD FOREIGN KEY([drive_license_ID])
REFERENCES [dbo].[drive_licenses] ([drive_license_ID])
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FK__orders__order_st__5FB337D6] FOREIGN KEY([order_status_ID])
REFERENCES [dbo].[orders_status] ([status_ID])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FK__orders__order_st__5FB337D6]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FK__orders__people_I__5DCAEF64] FOREIGN KEY([people_ID])
REFERENCES [dbo].[peoples] ([people_ID])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FK__orders__people_I__5DCAEF64]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FK__orders__service___5EBF139D] FOREIGN KEY([service_ID])
REFERENCES [dbo].[_services] ([service_ID])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FK__orders__service___5EBF139D]
GO
ALTER TABLE [dbo].[orders_information]  WITH NOCHECK ADD FOREIGN KEY([category_ID])
REFERENCES [dbo].[categorys] ([category_ID])
GO
ALTER TABLE [dbo].[orders_information]  WITH NOCHECK ADD  CONSTRAINT [FK__orders_in__order__6383C8BA] FOREIGN KEY([order_ID])
REFERENCES [dbo].[orders] ([order_ID])
GO
ALTER TABLE [dbo].[orders_information] CHECK CONSTRAINT [FK__orders_in__order__6383C8BA]
GO
ALTER TABLE [dbo].[orders_information]  WITH NOCHECK ADD  CONSTRAINT [FK__orders_in__peopl__628FA481] FOREIGN KEY([people_ID])
REFERENCES [dbo].[peoples] ([people_ID])
GO
ALTER TABLE [dbo].[orders_information] CHECK CONSTRAINT [FK__orders_in__peopl__628FA481]
GO
ALTER TABLE [dbo].[orders_information]  WITH NOCHECK ADD  CONSTRAINT [FK__orders_in__servi__6477ECF3] FOREIGN KEY([service_ID])
REFERENCES [dbo].[_services] ([service_ID])
GO
ALTER TABLE [dbo].[orders_information] CHECK CONSTRAINT [FK__orders_in__servi__6477ECF3]
GO
ALTER TABLE [dbo].[peoples]  WITH CHECK ADD  CONSTRAINT [FK__peoples__nationa__4D94879B] FOREIGN KEY([nationality_ID])
REFERENCES [dbo].[country_list] ([country_ID])
GO
ALTER TABLE [dbo].[peoples] CHECK CONSTRAINT [FK__peoples__nationa__4D94879B]
GO
ALTER TABLE [dbo].[reservation_list]  WITH CHECK ADD  CONSTRAINT [FK__reservati__drive__75A278F5] FOREIGN KEY([drive_license_ID])
REFERENCES [dbo].[drive_licenses] ([drive_license_ID])
GO
ALTER TABLE [dbo].[reservation_list] CHECK CONSTRAINT [FK__reservati__drive__75A278F5]
GO
ALTER TABLE [dbo].[reservation_list]  WITH CHECK ADD  CONSTRAINT [FK__reservati__userI__74AE54BC] FOREIGN KEY([userID])
REFERENCES [dbo].[users] ([userID])
GO
ALTER TABLE [dbo].[reservation_list] CHECK CONSTRAINT [FK__reservati__userI__74AE54BC]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [FK__users__people_ID__5165187F] FOREIGN KEY([people_ID])
REFERENCES [dbo].[peoples] ([people_ID])
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [FK__users__people_ID__5165187F]
GO
ALTER TABLE [dbo].[peoples]  WITH CHECK ADD  CONSTRAINT [CK__peoples__date_of__4E88ABD4] CHECK  ((dateadd(year,(18),[date_of_birth])<=CONVERT([date],getdate())))
GO
ALTER TABLE [dbo].[peoples] CHECK CONSTRAINT [CK__peoples__date_of__4E88ABD4]
GO
ALTER TABLE [dbo].[peoples]  WITH CHECK ADD CHECK  (([Gender]='M' OR [Gender]='F'))
GO
USE [master]
GO
